PUID=1000
PGID=1000
UMASK=002
TZ=Europe/Rome

SECRETS=${HOME}/docker/secrets
DATADIR=/media/storage

TLD=self-hosted.com
DOMAINNAME=dev.${TLD}

STACK_NAME=Self Hosted
STACK_ADMIN=admin
STACK_ADMIN_EMAIL=admin@self-hosted.com

# LOG_LEVEL=INFO
# log_level=info

SMTP_SERVER=smpt-server:465
SMTP_USERNAME=admin@self-hosted.com

##################################
AUTHELIA_VERSION=4

DB_BACKUP_VERSION=4.1.0

RESTIC_VERSION=1.7
# RESTIC_BACKUP_CRON=0 30 3 * * *
# RESTIC_CHECK_CRON=0 15 5 * * *
# RESTIC_PRUNE_CRON=0 0 4 * * *

CETUSGUARD_VERSION=v1

PORTAINER_VERSION=sts
PORTAINER_ENABLE_TRAEFIK=1
PORTAINER_ENABLE_AUTHELIA=1
PORTAINER_ENABLE_HOMEPAGE=1

TRAEFIK_VERSION=v3.0
TRAEFIK_ENABLE_AUTHELIA=1
TRAEFIK_ENABLE_HOMEPAGE=1
TRAEFIK_TRUSTED_IPS=10.0.90.1

WATCHTOWER_VERSION=1.7.1

POSTGRES_VERSION=16-3.4

PROMETHEUS_VERSION=v2.52.0

REDICT_VERSION=7

CROWDSEC_VERSION=v1.6.2-debian

HOMEPAGE_VERSION=v0.8.13
HOMEPAGE_ENABLE_TRAEFIK=1
HOMEPAGE_ENABLE_AUTHELIA=1


PGADMIN_VERSION=8
PGADMIN_ENABLE_TRAEFIK=1
PGADMIN_ENABLE_AUTHELIA=1
